/**Scrollbar**/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(220,49,49);
}

/*******/

* {
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
<<<<<<< HEAD
    padding: 5%;
    background-color: #1F1C30;
}

.map {
    background-image: url(assets/img/Rectangle\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 8%;
    padding-bottom: 15%;
=======
    background-color: #1f1c30;
}

h1 {
    color: white;
>>>>>>> e567362a376b2a46f9832b3b6be71d8cc878857a
}

canvas {
    display: block;
    width: 50%;
    height: 50%;
<<<<<<< HEAD
    border: 1px solid rgb(216, 139, 139);
=======
    background-color: #1f1c30;
    border: 1px solid rgb(135, 135, 135);
>>>>>>> e567362a376b2a46f9832b3b6be71d8cc878857a
    margin: 10% auto;
}

/***top welcome page**/

.title {
    font-size: 96px;
    font-weight: 200;
    color: #DC3131;
}

ul {
    list-style-type: none;
}

p {
    color: #FFFF;
    line-height: 2;
}

h2 {
    color: #FFFF;
    font-size: 36px;
}

.numbers {
    font-size: 48px;
    font-weight: 900;
}

.arrow-icon {
    width: 10%;
    height: auto;
}

/**top-center cases page**/
.cases {
    padding-top: 9%;
}

#cases-over-time {
    width: 90%;
    height: auto;
    padding-top: 5%;
}

/**center dashboard page**/
.dashboard {
    padding-top: 10%;
}

/**bottom-center economy-vs-covid page**/
.economy-vs-covid {
    padding-top: 10%;
}
.economy-vs-covid-title {
    color: #FFFF;
    font-size: 48px;
    font-family: 'Tienne', serif;
}

a::after {
    content: "";
    display: block;
    width: 45%;
    padding-top: 3%;
    border-bottom: 6px solid #FFFF;
}

/**bottom simulations page**/
.simulations {
    padding-top: 10%;
}

.simulations-title {
    color: #FFFF;
    font-size: 96px;
    font-weight: 700;
    width: 90%;
}